.form-control{
  width: 720px;
}  


.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}


/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}


#username{
  margin: 10px 0;
  width: 350px;
   
}

#password{
  margin: 10px 0;
  width: 350px;
}

.panel-heading {
    height:80px;
    background-color: #333;
}

.panel{
  width:500px;
  height:420px; 
}

.panel-default > .panel-heading{
  background-color: #008B8B !important;
}

h3.panel-title {
  color: white;
  font-size:25px;
  padding-top:20px;
}



body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;
background-color:#e1f0f2;



}


/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

/*-------------Message Box------------------*/

#textarea{

 
    padding-top: 5px;
    margin-left: 50px;
    padding-left: 50px;



}

#msg-btn{

  margin-left: 850px;
  margin-top: -60px;

 

}

.nav>li {
    position: relative;
    display: block;
    color: white;
}

.input-group{

  width:750px;
}

/*.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
*/


#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    padding-left: 300px;
    
}


.overflow-chat{

    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    width: 1150px;
    height: 650px;
    background-color:#f2fdff;
    margin-top: -65px;
    margin-left: -100px;
    margin-right: -200%;




}

.dropbtn {
    background-color:black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;


}

.welcome_msg {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    float: right;
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    height: 265px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content button {
    color: black;
    font-size: 15px;
    padding: 10px 12px;
    text-decoration: none;
    display:block;
    width:100%;
    border: 1px solid grey;
    border-radius: 10px;
}
.dropdown-content b {
    color: black;
    font-size: 25px;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown a:hover {background-color: #f1f1f1
width:100%;}

.show {display:block;}
  
.profile{

  margin-left: 150%;

  font-family: arial;
      width:60%;
      height:50%;

}
header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.container {
    width:100%;
    
    
  
}



.title {
  color: grey;
  font-size: 18px;
}

button {
  border:none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #B0E0E66;
  text-align: center;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
  margin-top: 100px;
}




button:hover, a:hover {
  opacity: 0.7;
}


.card {
  width: 30%;
  height: 30%;
  margin-left:20%;
}
